<form [formGroup]="otpForm" (ngSubmit)="verifyOtpFormSubmit()"  class="loginpageform bootstrap-form needs-validation">
    <div class="form-group">
        <div class="col-xs-12">
            <div class="loginpage_logo">
                <a><img src="assets/images/logo.png" alt="Menu kard" height="100" /></a>
            </div>
            <br />
            <h2 class="d-flex pagetitle">
                <span>Forgot Password</span>
                <a  class="ms-auto" id="backlogin"><i class="fa fa-arrow-left"></i> Back</a>
            </h2>
            <!-- <p class="semiTitle">OTP will be received on the entered Email</p> -->
        </div>
    </div>
    <!-- <div class="form-group text-left">
    <label for="input1"> Email</label>
    <input
      type="email"
      class="form-control example"
      name="EmailVerify"
      autocomplete="off"
      placeholder="Enter Email ID"
      required
    />
  </div> -->

    <div class="form-group text-left">
        <label for="input1">Enter OTP</label>
        <div class="form-group d-flex otpFormGrp  position-relative  otpverification_filed  digit-group">
            <input type="text" formControlName="labOTP" class="form-control col" />
        </div>
    </div>

    <br />
    <div class="form-group text-center m-t-20">
        <button class="btn btn-primary btn-lg btn-block waves-effect waves-light theme-btn w-100" type="submit">Verify OTP</button>
        <p class="text-center"><br> Go back to <a class="ml-auto" routerLink="/login"> Login</a></p>
    </div>
</form>