<div class="page-wrapper pt-3 pb-0">             
    <div class="container">
        <div class="card" style="min-height:450px;">
            <div class="card-body">
               <div class="row">
                    <div class="col-lg-7">
                       <div class="profileDetails">
                           <div class="d-flex align-items-center">
                               <div class="imgPrIcon pr-3"><img src="../images/lab-blue.png" alt="lab" height="60px"></div>
                               <h2 class="text-theme">Uniq Laboratory</h2>
                           </div>
                           
                           <div class="ContactContent pt-3">
                               <div class="d-flex align-items-center Contactlist pt-3">
                                   <div class="imgPrIcon pr-3"><i class="fa fa-map-marker"></i></div>
                                   <div class="textPr"><p class="mb-0">Stadium Complex, bus stop, navarangpura, <br> Navarangpura, Ahmedabad, Gujrat 380009</p></div>
                               </div>
                               <div class="d-flex align-items-center Contactlist pt-3">
                                   <div class="imgPrIcon pr-3"><i class="fa fa-envelope"></i></div>
                                   <div class="textPr"><a class="text-dark" href="mailto:info@uniqlab.com"> info@uniqlab.com </a></div>
                               </div>
                               <div class="d-flex align-items-center Contactlist pt-3">
                                   <div class="imgPrIcon pr-3"><i class="fa fa-phone"></i></div>
                                   <div class="textPr"><a class="text-dark" href="callto:+91-7878451245">+91 7878451245</a></div>
                               </div>
                           </div>
                           
                       </div>
                   </div>
                   <div class="col-lg-5">
                       <div class="text-right"><a id="ChangePass" href="#" class="btn btn-info btn-sm theme-btn"><i class="fa fa-lock"></i>&nbsp; Change Password</a></div>
                       <div class="row">
                           <div class="col-lg-7">
                               <div class="d-flex Contactlist pt-3">
                                   <div class="imgPrIcon pr-3"><i class="fa fa-clock-o"></i></div>
                                   <div class="textPr"><p class="mb-0"><b>Working Hours</b><br> 11:00 PM to 02:00 PM<br>  06:00 PM to 11:00 PM </p></div>
                               </div>
                               <div class="d-flex Contactlist pt-3">
                                   <div class="imgPrIcon pr-3"><i class="fa fa-file-text-o"></i></div>
                                   <div class="textPr"><p class="mb-0"><b>GST no.</b><br> 24FFNOJJL125Z</p></div>
                               </div>
                           </div>
                           <div class="col-lg-5">
                               <div class="Contactlist pt-3">
                                   <div class="textPr"><p class="mb-0"><b>Week-Off &nbsp; <a href="#" data-toggle="modal" data-target="#daysList"><i class="fa fa-pencil"></i></a></b><br> Sunday</p></div>
                               </div>
                           </div>
                       </div>
                       
                   </div>							
               </div>	
           </div>	
        </div>	
    </div>
</div>
