<form [formGroup]="reset_Password" (ngSubmit)="resetPassword()"  class="loginpageform bootstrap-form needs-validation">
    <div class="form-group">
        <div class="col-xs-12">
            <div class="loginpage_logo">
                <a><img src="assets/images/logo.png" alt="Menu kard" height="100" /></a>
            </div>
            <br/>
            <h2 class="pagetitle">Reset your Password</h2>
            <p class="semiTitle">Enter & Confirm the new password</p>
        </div>
    </div>
    <div class="form-group text-left">
        <label for="NewPassword">New Password </label>
        <input type="password" class="form-control" formControlName="labNewPassword" />
    </div>
    <!-- <div class="form-group text-left">
        <label for="ConfirmPassword">Re-enter New password </label>
        <input type="password" class="form-control"  />
    </div> -->

    <div class="form-group text-center m-t-20">
        <div class="col-xs-12">
            <button class="btn btn-primary btn-lg btn-block waves-effect waves-light theme-btn w-100" type="submit">Reset Password</button>
        </div>
    </div>
</form>