<div class="page-wrapper pt-3">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h4 class="title_head mb-3">Appointments</h4>
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-6">
                        <div class="form-group mb-0">
                            <input type="text" class="form-control" id="searchBox" placeholder="Search..">
                            <span class="addons"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="form-group mb-0">
                            <select class="form-control custom-select">
                                <option>Select Doctor</option>
                                <option>Sunil Patil</option>
                                <option>Pragti Yagnik</option>
                                <option>Kartik Raman</option>
                                <option>Pritesh Rajani</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="information-content appoinmentList row mt-3">
            <div class="col-lg-2 col-md-3 col-sm-6">
                <a href="appointments-new-request.html" class="colored-box box-yellow active">
                    <h3>05</h3>
                    <p>New Request</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <a href="appointments-waiting.html" class="colored-box box-gray">
                    <h3>07</h3>
                    <p>Waiting for Sample</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <a href="appointments-waiting-result.html" class="colored-box box-gray">
                    <h3>02</h3>
                    <p>Waiting for Result</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <a href="#" class="colored-box box-gray">
                    <h3>30</h3>
                    <p>Completed</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <a href="#" class="colored-box box-gray">
                    <h3>49</h3>
                    <p>All</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <a href="#" class="colored-box box-gray">
                    <h3>49</h3>
                    <p>Reschedule</p>
                </a>
            </div>
        </div>

        <div class="card tableListBorder">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table product-overview">
                        <thead class="">
                            <tr>
                                <th>Order Id </th>
                                <th>Center </th>
                                <th>Service </th>
                                <th>Customer </th>
                                <th>Sample Collection</th>
                                <th>Service Time</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="7" class="bg-servicetoday">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="border-0 p-0">
                                                    <div class="procesby">Service Date: Today</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td>12457862 </td>
                                <td>Bodakdev Center</td>
                                <td>Thyroid Test</td>
                                <td>
                                    <p class="mb-0">Suman Patil</p>
                                    <p class="mb-0">+91 8899997755</p>
                                </td>
                                <td>Submit to Lab </td>
                                <td>
                                    <p class="mb-0">Today, 05 Dec 2020</p>
                                    <p class="mb-0">02:00 PM</p>
                                </td>
                                <td><a data-toggle="tooltip" data-original-title="View"><i
                                            class="fa fa-pencil-square-o"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>12457862 </td>
                                <td>Bodakdev Center</td>
                                <td>Thyroid Test</td>
                                <td>
                                    <p class="mb-0">Suman Patil</p>
                                    <p class="mb-0">+91 8899997755</p>
                                </td>
                                <td>Submit to Lab </td>
                                <td>
                                    <p class="mb-0">Today, 05 Dec 2020</p>
                                    <p class="mb-0">02:00 PM</p>
                                </td>
                                <td><a href="appointments-request-details.html" data-toggle="tooltip"
                                        data-original-title="View"><i class="fa fa-pencil-square-o"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>12457862 </td>
                                <td>Bodakdev Center</td>
                                <td>Thyroid Test</td>
                                <td>
                                    <p class="mb-0">Suman Patil</p>
                                    <p class="mb-0">+91 8899997755</p>
                                </td>
                                <td>Submit to Lab </td>
                                <td>
                                    <p class="mb-0">Today, 05 Dec 2020</p>
                                    <p class="mb-0">02:00 PM</p>
                                </td>
                                <td><a href="appointments-request-details.html" data-toggle="tooltip"
                                        data-original-title="View"><i class="fa fa-pencil-square-o"></i></a>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="7" class="bg-servicetoday">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="border-0 p-0">
                                                    <div class="procesby"> Service Date: Tomorrow</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td>12457862 </td>
                                <td>Bodakdev Center</td>
                                <td>Thyroid Test</td>
                                <td>
                                    <p class="mb-0">Suman Patil</p>
                                    <p class="mb-0">+91 8899997755</p>
                                </td>
                                <td>Submit to Lab </td>
                                <td>
                                    <p class="mb-0">Today, 05 Dec 2020</p>
                                    <p class="mb-0">02:00 PM</p>
                                </td>
                                <td><a href="appointments-request-details.html" data-toggle="tooltip"
                                        data-original-title="View"><i class="fa fa-pencil-square-o"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>12457862 </td>
                                <td>Bodakdev Center</td>
                                <td>Thyroid Test</td>
                                <td>
                                    <p class="mb-0">Suman Patil</p>
                                    <p class="mb-0">+91 8899997755</p>
                                </td>
                                <td>Submit to Lab </td>
                                <td>
                                    <p class="mb-0">Today, 05 Dec 2020</p>
                                    <p class="mb-0">02:00 PM</p>
                                </td>
                                <td><a href="appointments-request-details.html" data-toggle="tooltip"
                                        data-original-title="View"><i class="fa fa-pencil-square-o"></i></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>