<form [formGroup]='forgetPass' (ngSubmit)="sendOTP()" class="loginpageform bootstrap-form needs-validation">

    <div class="form-group ">
        <div class="col-xs-12">
            <div class="loginpage_logo">
                <a><img src="assets/images/logo.png" alt="Menu kard" height="100" /></a>
            </div>
            <br>
            <h2 class=" d-flex pagetitle">Forgot Password </h2>
            <p class="semiTitle">We'll send reset link to your mobile no </p>
        </div>
    </div>
    <div class="form-group text-left">
        <label for="input1">Mobile No</label>
        <!--<input type="text" class="form-control" id="input1" required="" />	-->
        <input type="number" class="form-control example" formControlName="labMobileNo" placeholder="Enter Email ID">


    </div>

    <div class="form-group text-center m-t-20">
        <div class="col-xs-12">
            <button class="btn btn-primary btn-lg btn-block waves-effect waves-light theme-btn w-100" type="submit">Send OTP</button>
            <p class="text-center"><br> Go back to <a class="ml-auto" routerLink="/login"> Login</a></p>
        </div>
    </div>
</form>