<app-top-header></app-top-header>
<section id="wrapper" class="login-register login-sidebar">
    <div class="row">
        <div class="
        login-imagecontent
        col-md-6
        position-relative
        order-2 order-md-1
        pt-4
      ">
            <img src="assets/images/login-img.jpg" alt="" />
        </div>
        <div class="login-box col-md-6 order-1 order-md-2">
            <div class="card-block">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>

</section>
<app-footer></app-footer>