<div class="page-wrapper pt-3 pb-0">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-7">
                        <h4 class="title_head">Earning</h4>
                        <div class="hr-mobile-scroll">
                            <div class="amp-pxl-day" style="height: 350px;">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-row">
                            <div class="col-xl-6">
                                <div class="form-group mb-2">
                                    <input type="date" class="form-control" id="FromDate">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <button class="btn btn-info btn-sm theme-btn">View Day Wise Reports</button>
                            </div>
                        </div>
                        <div class="analyContent pt-3">
                            <h5 class="labelanalys">Analytics</h5>
                            <div class="d-flex mb-2">
                                <p class="first mb-0">No. of Tests Completed: </p>
                                <p class="mb-0">100</p>
                            </div>
                            <div class="d-flex mb-2">
                                <p class="first mb-0">Total Bill Amount: </p>
                                <p class="mb-0"> <small class="fa fa-inr"></small> 10,000</p>
                            </div>
                            <div class="d-flex mb-2">
                                <p class="first mb-0">Total Earning: </p>
                                <p class="mb-0"><small class="fa fa-inr"></small> 9,500</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-7">
                        <h4 class="title_head mb-3">Appointments</h4>
                        <div class="listapoint">
                            <a  class="colored-box box-yellow-bordred me-1 mb-2 nav-item nav-link">
                                <h3>7</h3>
                                <p>Reschedule Request</p>
                            </a>
                            <a href="#" class="colored-box box-yellow-bordred me-1 mb-2 nav-item nav-link">
                                <h3>7</h3>
                                <p>Waiting for Sample</p>
                            </a>
                            <a href="#" class="colored-box box-yellow-bordred me-1 mb-2 nav-item nav-link">
                                <h3>10</h3>
                                <p>Waiting for Result</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-row">
                            <div class="col-lg-6"></div>
                            <div class="col-lg-6">
                                <div class="form-group mb-0">
                                    <label>Lab Center</label>
                                    <select class="form-control custom-select">
                    <option>All</option>
                    <option>Lab Center 1</option>
                    <option>Lab Center 2</option>
                    <option>Lab Center 3</option>
                    <option>Lab Center 4</option>
                  </select>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-lg-7">
                        <h4 class="title_head mb-3">Lab Test</h4>
                        <div class="listapoint">
                            <a href="#" class="colored-box box-yellow-bordred me-1 mb-2 nav-item nav-link">
                                <h3>7</h3>
                                <p>Active Lab Test</p>
                            </a>
                            <a href="#" class="colored-box box-yellow-bordred me-1 mb-2 nav-item nav-link">
                                <h3>7</h3>
                                <p>Sent for Approval</p>
                            </a>
                            <a href="#" class="colored-box box-yellow-bordred me-1 mb-2 nav-item nav-link">
                                <h3>10</h3>
                                <p>In-Active Test</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <h4 class="title_head mb-3">Lab Assistant</h4>
                        <div class="listapoint">
                            <a href="#" class="colored-box box-yellow-bordred me-1 mb-2 nav-item nav-link">
                                <h3>7</h3>
                                <p>Active</p>
                            </a>
                            <a href="#" class="colored-box box-yellow-bordred me-1 mb-2 nav-item nav-link">
                                <h3>7</h3>
                                <p>In-Active</p>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>